<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/main.css">

    <title>당신의 10년 후 모습은?</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
        $("#submitBtn").click(function() {
            var gender = $("input[name='gender']:checked").val();
            var age = $("#age").val();

            console.log("성별: " + gender);
            console.log("나이: " + age);

            $.ajax({
                type: "POST",
                url: "upload.php",
                data: {
                    gender: gender,
                    age: age
                },
                success: function(response) {
                    console.log("Response from server: " + response);
                }
            });
        });
    });
    </script>



</head>
<body>

    <header id="header-center">
        <div class="inner">
            <a href="/" class="logo">Piglet</a>
        </div>
    </header>

    <section id="banner-center-mid">
        <div class="eventpage-text-big">현재 내 얼굴 사진 업로드</div>

        <form id="uploadForm" action="upload.php" method="post" enctype="multipart/form-data">
            <div class="upload-container">
                <input type="file" id="pictureUpload" name="picture" accept="image/*" class="upload-input">

                <label class="eventpage-text-small" for="gender">성별을 선택해 주세요.</label>
                <input type="radio" id="male" name="gender" value="male">
                <label for="male">남성</label>
                <input type="radio" id="female" name="gender" value="female">
                <label for="female">여성</label>
                <br><br>

                <label class="eventpage-text-small" for="age">나이대를 선택해 주세요.</label>
                <select id="age" name="age">
                    <option value="0to10">0-10세</option>
                    <option value="10to20">10-20세</option>
                    <option value="30to40">30-40세</option>
                    <option value="40to50">40-50세</option>
                </select>

                <button type="submit" class="eventpage-button-big" id="submitBtn">10년 후 확인하기</button>
            </div>
        </form>
    </section>

</body>
</html>
