<!DOCTYPE HTML>
<html lang="ko">

<html>
	<head>
		<title>Piglet</title>
		<meta charset="utf-8">
		<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../static/css/main.css">
    	<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

	</head>
	<body>

		<!-- Header -->
		<header id="header">
			<div class="inner">
				<a href="/" class="logo">Piglet</a>
				<nav id="nav">
					<a class="menu" href="/missinglist">실종자 목록</a>
					<a class="menu" href="https://www.safe182.go.kr/index.do">실종자 목격 제보</a>
				</nav>
			</div>
		</header>

		<!-- Banner -->
		<section id="banner">
			<div class="inner">
				<header>
					<h1 class="main-header">함께 하는 행복</h1>
				</header>
				<h3>오늘도 가족을 기다립니다.</h3>
			</div>
		</section>


		<!-- Three -->
		<section id="three" class="wrapper align-center">
			<div class="inner">
				<div class="flex flex-3">
					<article>
						<div class="image round">
							<img class="circle" src="../static/assets/김재필.jpg" alt="사진 01">
						</div>
						<h4>김재필(44세)</h4>
					</article>
					<article>
						<div class="image round">
							<img class="circle" src="../static/assets/이형열.jpg" alt="사진 02">
						</div>
						<h4>이형열(75세)</h4>
					</article>
					<article>
						<div class="image round">
							<img class="circle" src="../static/assets/최수호.jpg" alt="사진 03">
						</div>
						<h4>최수호(8세)</h4>
					</article>
				</div>
			</div>
		</section>

		<div class="copyright">
			<div>실종자 현재 얼굴 예측 서비스 | Project Piglet 2023 | 강수희 장은경 최영 한승주</div>
            <a href="/login">관리자 로그인</a>
		</div>

	</body>
</html>
