<!DOCTYPE HTML>
<html lang="ko">

<html>
	<head>
		<title>Piglet</title>
		<meta charset="utf-8">
		<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../static/css/main.css">
	</head>
	<body>

		<!-- Header -->
        <header id="header">
            <div class="inner">
                <a href="/" class="logo">Piglet</a>
                <nav id="nav">
                    <a class="menu" href="/missinglist">실종자 목록</a>
                    <a class="menu" href="https://www.safe182.go.kr/index.do">실종자 목격 제보</a>
                </nav>
            </div>
        </header>

        <section class="missinglist">
            <div class="list">
                <div class="page">
                    <div class="item">
                      <img src="../static/assets/강승영.jpg" alt="Photo 1" class="imglist">
                      <p>이름</p>
                      <p>설명</p>
                    </div>
                    <div class="item">
                      <img src="../static/assets/강원구.jpg" alt="Photo 2" class="imglist">
                      <p>이름</p>
                      <p>설명</p>
                    </div>
                    <div class="item">
                      <img src="../static/assets/김경실.jpg" alt="Photo 1" class="imglist">
                      <p>이름</p>
                      <p>설명</p>
                    </div>
                    <div class="item">
                      <img src="../static/assets/김재필.jpg" alt="Photo 1" class="imglist">
                      <p>이름</p>
                      <p>설명</p>
                    </div>
                    <div class="item">
                      <img src="../static/assets/김지은.jpg" alt="Photo 1" class="imglist">
                      <p>이름</p>
                      <p>설명</p>
                    </div>
                    <div class="item">
                      <img src="../static/assets/이기봉.jpg" alt="Photo 1" class="imglist">
                      <p>이름</p>
                      <p>설명</p>
                    </div>
                    <div class="item">
                      <img src="../static/assets/이우철.jpg" alt="Photo 1" class="imglist">
                      <p>이름</p>
                      <p>설명</p>
                    </div>
                    <div class="item">
                      <img src="../static/assets/이유선.jpg" alt="Photo 1" class="imglist">
                      <p>이름</p>
                      <p>설명</p>
                    </div>
                </div>
            </div>
        </section>


        <div class="pagination">
          <span class="page-link"><</span>
          <span class="page-link">1</span>
          <span class="page-link">2</span>
          <span class="page-link">3</span>
          <span class="page-link">4</span>
          <span class="page-link">5</span>
          <span class="page-link">6</span>
          <span class="page-link">7</span>
          <span class="page-link">8</span>
          <span class="page-link">9</span>
          <span class="page-link">10</span>
          <span class="page-link">></span>
        </div>


	<div class="copyright">
		<div>실종자 현재 얼굴 예측 서비스 | Project Piglet 2023 | 강수희 장은경 최영 한승주</div>
		<a href="/login">관리자 로그인</a>
	</div>

	</body>
</html>
