<!DOCTYPE HTML>
<html lang="ko">

<html>
	<head>
		<title>Piglet</title>
		<meta charset="utf-8">
		<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../static/css/main.css">
	</head>
	<body>

		<!-- Header -->
        <header id="header">
            <div class="inner">
                <a href="/" class="logo">Piglet</a>
                <nav id="nav">
                    <a class="menu" href="/missinglist">실종자 목록</a>
                    <a class="menu" href="/reportmissing">실종자 목격 제보</a>
                </nav>
            </div>
        </header>

        <section>
            <p></p>

        </section>


	<div class="copyright">
		<div>실종자 현재 얼굴 예측 서비스 | Project Piglet 2023 | 강수희 장은경 최영 한승주</div>
		<a href="">관리자 로그인</a>
	</div>

	</body>
</html>
